# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Apple
.DS_Store
.vscode

# CUB3D
cub3D
mlx
cub3D.dSYM
dynamic_mlx/mlx_image.swiftdoc
dynamic_mlx/mlx_image.swiftmodule
dynamic_mlx/mlx_image.swiftsourceinfo
dynamic_mlx/mlx_init.swiftdoc
dynamic_mlx/mlx_init.swiftsourceinfo
dynamic_mlx/mlx_window.swiftdoc
dynamic_mlx/mlx_window.swiftmodule
dynamic_mlx/mlx_window.swiftsourceinfo
dynamic_mlx/mlx_image.swiftsourceinfo

# minilibx-linux
mlx-test